nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  background-color: #0e4ba0;
}

nav > div {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: #ffffff;
}

nav > div:last-child {
  margin-left: auto;
}
